/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --footer-color: #ebebeb;
  --main-color: #033a80;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  padding: 50px 10%;
}

*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}

/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94, 104, 121, 0.288);
}

header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color);
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}

.navbar a:hover {
  color: var(--hover);
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* home section */

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.home-img {
  margin-top: 30px;
  order: 3;
}

.home-img img {
  width: 100%;
  border-radius: 0.5rem;
}

.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}

.home-text h1 {
  font-size: var(--big-font);
}

.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.social {
  display: flex;
  flex-direction: column;
}

.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}

.social a:hover {
  color: var(--hover);
}

.btn,
.contact-button {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover,
.contact-button:hover {
  background: var(--hover);
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 30px;
}

.heading span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}

/* About  */
.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.about-image img {
  width: 80%;
  border-radius: 0.5rem;
}

.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}

.information {
  margin: 1rem 0 1.4rem;
}

.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.info-box .info-box .bx {
  font-size: 22px;
}

.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}

/* Skills */

.skills-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.skills-img img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}

.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.bars-box h3,
.bars-box span {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
}

.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: hsla(216, 100%, 44%, 0.4);
  border-radius: 0.5rem;
}

.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  background: var(--main-color);
  border-radius: 0.5rem;
  transition: 1.5s;
}


/* Service */

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.services-box {
  padding: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0px 2px 7px rgba(14, 55, 54, 40%);
}

.services-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}

.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}

/* hover */
.services-box:hover {
  background: #02225a;
}

.services-box:hover h3 {
  color: #fff;
}

.services-box:hover .bx {
  color: #22cf91;
}

.services-box:hover a {
  color: #8b8a8f;
}

/* ============== Portfolio ============== */

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.portfolio-img {
  overflow: hidden;
  border-radius: 0.5rem;
}

.portfolio-img img {
  width: 100%;
  height: auto;
  display: block;
}

.portfolio-info h1 {
  color: black;
  text-transform: uppercase;
}

.portfolio-info p {
  color: black;
  font-size: small;
  text-overflow: ellipsis;
}

.portfolio-info a {
  font-size: medium;
  text-decoration: none;
  color: var(--main-color);
}


.portfolio-img .portfolio-info {
  justify-content: space-between;
  padding: 20px;
  z-index: 3;
  height: 30%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(0, 176, 155, 0.3), rgba(150, 201, 61, 1));
  border-radius: 0.5rem;
  opacity: 0;
  position: relative;
  transition: 0.5s all;
}

/* image hover */

.portfolio-img img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.portfolio-img:hover .portfolio-info {
  opacity: 1;
  display: flex;
  flex-direction: column;
  transform: translateY(-88%);
  transition: 1s;
}

/* Contact Section */

.contact-content {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.contact-content form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

form input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: hsla(260, 100%, 44%, 0.1);
  margin-bottom: 1rem;
  border: none;
  outline: none;
}

form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}

.contact-button {
  margin: 0 auto;
  text-transform: uppercase;
  padding: 1rem;
  width: 50%;
}

form textarea {
  resize: none;
}

/* Footer */

.footer {
  display: grid;
  padding: 20px;
  background: var(--footer-color);
  place-items: center;
}

.footer h2 {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.footer-social a i {
  font-size: 25px;
  margin: 5px;
  border-radius: 50%;
  background: #fff;
  padding: 10px;
  color: #033a80;
}

.copyright {
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  background-color: var(--main-color);
}

.copyright a {
  color: #22cf91;
}

/* darkmode */
#darkmode {
  font-size: 22px;
  cursor: pointer;
}

body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
  --main-color: red;
  --footer-color: #1e453e;
}

/* Responsive */

@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }

  section {
    padding: 50px 4%;
  }
}

@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}

@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }

  header {
    padding: 11px 4%;

  }

  #menu-icon {
    display: initial;
    color: var(--text-color);
  }

  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }

  .navbar.active {
    top: 100%;
  }

  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }

  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }

  .scroll-down {
    display: none;
  }

  .home {
    grid-template-columns: 0.5fr 3fr;
  }

  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }

  .home-img {
    order: initial;
  }

  .about-content {
    grid-template-columns: 1fr;
  }

  .about-image {
    display: flex;
    justify-content: center;
  }

  .skills-content {
    grid-template-columns: 1fr;
  }

  .skills-img img {
    padding-left: 0;
  }

  .skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .contact-form form {
    width: 300px;
  }

  .contact-button {
    margin-left: 25%;
  }
}

@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }

  .home-text span {
    font-size: 1rem;
  }

  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .information .info-box span {
    font-size: 1rem;
  }

  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

  .contact-form form {
    width: 300px;
  }

  .contact-button {
    margin-left: 25%;
  }
}